# Pear P2P
PEAR_PRIMARY_KEY=
PEAR_CHANNEL=alpha

# Ethereum RPC
ETH_MAINNET_RPC=https://rpc.mevblocker.io/fast
ETH_SEPOLIA_RPC=https://ethereum-sepolia-rpc.publicnode.com

# Gasless — Pimlico (mainnet) o Candide
PIMLICO_API_KEY=
CANDIDE_API_KEY=
BUNDLER_URL=https://api.pimlico.io/v2/1/rpc?apikey=${PIMLICO_API_KEY}
PAYMASTER_ADDRESS=0x8888888888888888888888888888888888882402

# WDK Wallet
WDK_SEED_PHRASE=
WDK_SAFE_MODULES_VERSION=0.3.0
WDK_DELEGATION_ADDRESS=0xe6Cae83BdE06E4c305530e199D7217f42808555B

# Token addresses
USDT_MAINNET=0xdAC17F958D2e523a2206206994597C13D831ec7
USDT_MOCK_SEPOLIA=0xd077a40066800590F633c0000900f7F6cD0A10dB

# QVAC
QVAC_CONFIG_PATH=./qvac.config.ts
QVAC_CTX_SIZE=4096

# Seguridad
PAYMENT_CONFIRM_THRESHOLD_USD=1000
